@media (max-width: 500px) {
  :root {
    --title-font-size: 40px;
  }
}

@media (max-width: 768px) {
  :root {
    --title-font-size: 60px;
  }
}

@media (max-width: 1000px) {
  :root {
    --title-font-size: 80px;
  }
}

h1 {
  font-size: var(--title-font-size);
}